
<table class="styled-table">
    <link rel="stylesheet" href="style.css">
        <thead>
            <tr>
                <th>Name of the gun</th>
                <th>caliber</th>
                <th> price for club member</th>
                <th>price</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
        {% for item in pl %}
            <tr>
                <td>{{ item.gun_name }}</td>
                <td>{{ item.caliber }}</td>
                <td>{{ item.price_cm }}</td>
                <td>{{ item.price_ncm }}</td>
                <td>{{ item.gun_image }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>